body {
    margin: 0;
    display: flex;
    place-items: top center;
}

.link-style {
    background-color: #6ecff6;
    color: #f4f2f2;
    padding: 1em 2em;
    margin: 5px;
}

.link-style:hover {
    background-color: #41f94a;
    color: #f9f9f9;
}
