.delivery {
    margin: 0 auto;
    padding: 4rem 0;
    width: 100%;
    max-width: 60rem;
}

.address {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr)); 
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--secondary-background-color);
    border: 4px solid var(--box-border);      
}

h2,
.address-row {
    grid-column: span 2;
}

.address-form input,
select {
    width: 100%;
    height: 40px;
    padding: 2px;
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid var(--box-border);
    box-shadow: 0 0 8px #444;
}

.address-form input:hover,
.address-form select:hover {
    border: 1px solid #fff;    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset,
                0 0 5px rgba(255, 255, 255, 0.4);
}

.address-form input:focus {
    transition: 0.2s ease-in-out;
    border: 1px solid rgb(35, 136, 243);
}

.address-form input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
    display: inline;
    vertical-align: middle;
}

#checkbox-label {
    display: inline;
}

.address-form label {
    display: block;
    text-align: left;
    font-size: 20px;
    padding: 10px 0;
    font-weight: bolder;
}

.goToPayment-btn {
    margin: 5px;
    padding: 1em 2em;    
    border-radius: 6px; 
    color:var(--button-text-color);   
}

.goToPayment-btn:hover {
    opacity: 0.7;
    transition: .5s; 
    color: var(--primary-text-color);
    background-color: #7ef384;
    font-weight: bold;   
}

.error {
    color: red;
    float: left;
}

/* On screens that are 664px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 664px) {
    .address {
        grid-template-columns: repeat(1, minmax(200px, 1fr)); 
    }

    .address-row {
        grid-column: span 1;
    }
}
