body {
    margin: 0;
    display: flex;
    place-items: top center;
}

.link-style{
    background-color: #535bf2;
    color: #f4f2f2;
    padding: 1em 2em;
    margin: 5px;
}

.link-style:hover{
    background-color: #dc62ab;;
    color: #f9f9f9;
}