.heading {
    text-align: left;
}

.total {
    text-align: right;
    font-size: 1.3em;
    font-weight: bolder;
}

.product {
    text-align: left;
    padding-right: 100px;
}

.price,
.increment,
.rebate {
    padding-right: 30px;
}

.quantity {
    text-align: center;
}

.priceTotal {
    padding-right: 60px;
}

.giftwrapping,
.reoccuringorder {
    text-align: center;
    padding-right: 30px;
}

.quantityBtn {
    border-radius: 50%;
    padding: 0.6em 1em;
}

.link-style{
    background-color: #4c6eec;
    color: #f4f2f2;   
}

.link-style:hover{
    background-color: #c47fdf;;
    color: #f9f9f9;
}