.heading {
    text-align: left;
    background-color: rgb(247, 247, 247);
    border-radius: 0.5em;
    text-indent: 0.2em;
}

.fragt,
.subtotal {
    text-align: right;
    font-size: 1em;
}

.total{
    text-align: right;
    font-size: 1.2em;
    font-weight: bolder; 
}

.product {
    text-align: left;
    padding-right: 100px;
}

.price,
.increment,
.rebate {
    padding-right: 30px;
}

.quantity {
    text-align: center;
}

.priceTotal {
    padding-right: 40px;
    width: 90px;
}

.giftwrapping,
.reoccuringorder {
    text-align: center;
    padding-right: 30px;
}

.quantityBtn {
    border-radius: 50%;
    padding: 0.6em 1em;
}

.link-style{
    background-color: #535bf2;
    color: #f4f2f2;   
}

.link-style:hover{
    background-color: #dc62ab;;
    color: #f9f9f9;
}