.heading {
    text-align: left;
}

.total {
    text-align: right;
    font-size: 1.3em;
    font-weight: bolder;
}

.product {
    text-align: left;
    padding-right: 100px;
}

.price,
.increment,
.rebate {
    padding-right: 30px;
}

.quantity {
    text-align: center;
}

.priceTotal {
    padding-right: 60px;
}

.giftwrapping,
.reoccuringorder {
    text-align: center;
    padding-right: 30px;
}

.quantityBtn {
    border-radius: 50%;
    padding: 0.6em 1em;
}


.order-btn {
    background-color: #585ae9;
    color: #f4f2f2;
    padding: 1em 2em;
    margin: 5px;
    border-radius: 6px;
}

.order-btn:hover {
    background-color: #7ef384;
    color: #1c1a1a;
}