@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
    font-family: Nunito, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #4a4e69;
    background-color: #f2e9e4;
    --primary-background-color: #f2e9e4;
    --secondary-background-color: white;
    --primary-text-color: #4a4e69;
    --button-color: #22223b;
    --button-text-color: #f2e9e4;
    --accent-color: #9a8c98;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --box-border: #e6e6e6;
    --checkbox-color: #444444;
}

@media only screen and (max-width: 768px) {
    .shop-table {
        overflow-y: auto;
        height: 350px;
        overflow-x: auto;
        width: auto;
    }

    caption {
        width: 140px;
        font-weight: 600;
        font-size: 16px;
        color: var(--primary-text-color);
    }

    thead {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .shop-table {
        overflow-y: auto;
        height: 350px;
        overflow-x: auto;
        width: auto;
    }

    caption {
        width: 140px;
        font-weight: 600;
        font-size: 18px;
        color: var(--primary-text-color);
    }

    thead {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .shop-table {
        overflow-y: auto;
        height: 350px;
        overflow-x: auto;
        width: auto;
    }

    caption {
        width: fit-content;
        font-weight: 600;
        font-size: 20px;
        color: var(--primary-text-color);
        margin-left: 10px;
    }

    thead {
        display: table;
    }
}

tbody {
    padding: 2px;
}

tr {
    border-bottom: #eaeaea solid 0.5px;
    display: table;
    width: 100%;
}

p {
    font-size: 20px;
    text-align: left;
    font-weight: 400px;
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 10px;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    border-radius: 20px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 0.3em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--button-text-color);
    background-color: var(--button-color);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--button-text-color);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
