.heading {
    text-align: left;
}

.total {
    text-align: right;
    font-size: 1.3em;
    font-weight: bolder;
}


.product {
    text-align: left;
    padding-right: 200px;
}

.price, .increment {
    padding-right: 30px;
}


.quantity {
    text-align: center;
}

.priceTotal {
    padding-right: 60px;

}

.giftwrapping {
    text-align: center;
    padding-right: 30px;

}

.quantityBtn {
    border-radius: 50%;
    padding: 0.6em 1em;
}
